body {
    background-color: #1B1B1B;
    font-family: Arial, sans-serif;
    color: white; 
}
 
ul.navigation li {
    display: block;
    width: 200px;
    padding-top: 40px;
    margin-left: 25px;
}

ul.navigation {  
    margin-top: 105px;
    padding-left: 5px;
    list-style: none;
    background-color: #101010;
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
    margin-left: 0px;
    position: sticky;
    float: left;
    display: block;
    border-radius: 7%;
 }
 
ul.navigation a {
    padding: 3px 10px;
    background: linear-gradient(to right, #78BB27, #39BA50);
    color: black;
    text-decoration: none;
    border-radius: 7%;
}

ul.navigation a:hover{
    background: linear-gradient(to right, #6ef01d, #78BB27);
}

.panel {
    width: 240px;
    position: fixed;
    display: block;
}


.contentContainer {
    padding-left: 250px;
    padding-top: 100px;
}

.icon {
    width: 200px;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    border:  none;
    background-color: #101010;
    color: white;
    border-radius: 7%;
    display: inline-block;    
}

.trackPic {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 16px;
    border-radius: 7%;   
}

.zanrColor {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 16px;
    border-radius: 7%;
}

p.trackLabels {
    overflow: hidden;
    position: relative;
    bottom: 28px;
    font-size: 16px;
    margin-left: 10px;
    white-space: nowrap;
}

.trackLink {
    text-decoration: none;
}

.prihlaseni {
    color: white;
    position: relative;
    float: right;
    top: 0;
    margin-right: 25px;
    margin-top: 25px;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

.mainR {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

form.form420 {
    padding-top: 40px;
    }

form.form421 {
    padding-top: 100px;
}

.inp {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

.inp:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18);
        
    }
    
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #78BB27, #39BA50);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family:  sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.reg {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #78BB27;
    padding-top: 15px;
}
    
.logReg {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #09AA50;    
}
   
.return {
    text-decoration: none;
    font-size: 27px;
    color: #78BB27;
    display:inline-block; 
    margin-left: 15px;
    margin-top: 15px;   
}

.logo {
    font-size: 50px;
    min-width: 100px;
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    left: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    color: linear-gradient(to right, #78BB27, #39BA50);
}

.like {
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin-left: 75%;  
    margin-bottom: 4px;
}

.like img {
    position: relative;
    width: 30px;
    height: 30px;
}

.player {
  position: fixed;
  left: 40%;
}

.playerContainer {
  position: fixed;
  width: 50%;
  margin: 0 auto;
  bottom: 60px;
}



